{% extends 'gathering/base.html' %}
{% load static  %}
{% block content %}
<div class="container text-center">
	<div class="row">
		<div class="col-12">
			<div class="main-title">Package <span class="custom-color">search</span>.</div> 
		</div>
	</div>
	<div class="row">
		
			<div class="col-sm-12 col-md-12 text-center">
				<form id="input-form">
					 {% csrf_token %}
						
							{{form.entry}} 
							
								<button type="submit" class="btn btn-outline-primary form-btn-pos" id="send-form">Search</button>
								<button type="button" class="btn btn-outline-danger form-btn-pos" id="clear-form">Clear</button>
							
						
					
				</form>
			</div>

		
	</div>
		<div id="welcome-note">
			<div id="welcome-note-text">Enter keyword and search for<span class="custom-color"> newest </span>packages.</div>
		</div>
		<div id="content-container">
			<div class="container-fluid">
				<table class="table table-striped" id="our-table">
					<thead>
						<tr>
							<th style="width: 20%">Title</th>
                            <th style="width: 15%">Author</th>
							<th style="width: 30%">Description</th>
                            <th style="width: 15%">Link</th>
							<th style="width: 20%">Keywords</th>
                            <th style="width: 10%">Version</th>
						</tr>
					</thead>
					<tbody id="table-body"></tbody>
				</table>
			</div>
		</div>
		<div class="fixed-bottom">
			<div class="container">
				<div class="row ">
					<div class="col-sm-12 col-md-3"></div>
					<div class="col-sm-12 col-md-6">
						<div id="pagination-wrapper"></div>
					</div>
					<div class="col-sm-12 col-md-3 d-flex justify-content-end">
						<button type="button" class="btn btn-success button-pos" id="download_csv">Download</button>
					</div>
				</div>
			</div>
		</div>
	
</div>
<script src="{% static 'gathering/js/build_pages.js' %}"></script>
<script src="{% static 'gathering/js/run_pages.js' %}"></script>

<script>runPackage('{% url 'package_url'  %}')</script>
{% endblock %}